<table class="large-12">
  <thead>
    <tr>
      <th>ISO</th>
      <th>Country</th>
      <th>Buy Price</th>
      <th>Sell Price</th>
      <th><%= link_to "Create New Rate", new_admin_rate_path %></th>
    </tr>
  </thead>
  <tbody>
  	<% @rates.each do |r| %>
	    <tr>
	      <td><%= r.iso %></td>
	      <td><%= r.country %></td>
	      <td><%= number_with_precision r.buy_price, precision: 3 %></td>	      
	      <td><%= number_with_precision r.sell_price, precision: 3 %></td>
	      <td>
	      	<%= link_to "Edit", edit_admin_rate_path(r) %>
	      	<%= link_to "Delete", admin_rate_path(r), method: :delete, data: { confirm: "Are you sure you want to remove #{r.country} rate?" } %>
	      </td>
	    </tr>
    <% end %>
  </tbody>
</table>