<%= form_tag rates_path, method: :get do %>
  <%= text_field_tag :search, nil, placeholder: "Search... Enter ISO" %>
<% end %>

<table class="large-12">
  <thead>
    <tr>
      <th>ISO</th>
      <th>Country</th>
      <th>Buy Price</th>
      <th>Sell Price</th>      
    </tr>
  </thead>
  <tbody>
  	<% @rates.each do |r| %>
	    <tr>
	      <td><%= r.iso %></td>
	      <td><%= r.country %></td>
	      <td><%= number_with_precision r.buy_price, precision: 3 %></td>	      
	      <td><%= number_with_precision r.sell_price, precision: 3 %></td>	      
	    </tr>
    <% end %>
  </tbody>
</table>


<% if params[:search].present? %>
  <div class="text-center"><%= link_to "Clear Results", root_path %></div>
<% end %>