<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "VBCE Rates" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if flash.notice %>
    <div data-alert class="alert-box success">
      <div class="row">
        <div class="large-12 columns">
          <%= flash.notice %>
        </div>
      </div>
      <a href="#" class="close">&times;</a>
    </div>
    <% end %>

    <% if flash.alert %>
    <div data-alert class="alert-box alert">
      <div class="row">
        <div class="large-12 columns">
          <%= flash.alert %>
        </div>
      </div>
      <a href="#" class="close">&times;</a>
    </div>
    <% end %>
    
    <div class="row">
      <div class="large-12 columns">
        <ul class="nav inline-list">
          <li><%= link_to "#{image_tag 'vbce-logo.gif'}".html_safe, root_path, class: "logo" %></li>
          <li><%= link_to "Rates", rates_path %></li>
          <li><%= link_to "Admin", admin_rates_path %></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div> 
  </body>
</html>
